
/* Universal Selector */
 *{
    background-color: rgb(234, 173, 189);
 }   

 /* Extrnal CSS */
h1{
    color: rgb(75, 6, 75);
}
/* Element Selector */
button{
    background-color:rgb(246, 72, 246);
    color: rgb(45, 8, 71);
}
/* Id Selector */
#One {
    color: rgb(108, 102, 102);
}

#Two {
    color: rgb(64, 64, 64);
}

#Three {
    color: rgb(32, 31, 31);
}
/* Class Selector */
.Class{
    color: indigo;
}
* {
    color: black;
}